!!!
%html{lang: "en"}
	%head
		= Haml::Engine.new(File.read('src/partials/_head.haml')).render
	%body{"data-offset" => "58", "data-spy" => "scroll", "data-target" => ".navbar"}
		= Haml::Engine.new(File.read('src/partials/_header.haml')).render
		= Haml::Engine.new(File.read('src/partials/_home.haml')).render
		= Haml::Engine.new(File.read('src/partials/_plataform.haml')).render
		= Haml::Engine.new(File.read('src/partials/_about.haml')).render
		= Haml::Engine.new(File.read('src/partials/_team.haml')).render
		= Haml::Engine.new(File.read('src/partials/_newsletter.haml')).render
		= Haml::Engine.new(File.read('src/partials/_contact.haml')).render
		= Haml::Engine.new(File.read('src/partials/_footer.haml')).render
		= Haml::Engine.new(File.read('src/partials/_scripts.haml')).render